*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 5px;
    margin: 0px;
}

.Navbar {
  text-align: center;
}

.neo{
  font-size: 60px;
  color: #14a76c;
  margin-top: 50px;

}

body {
  background-color: #28282B;
}

.appCSS {
  color: #14a76c;
  font-family: "Times New Roman"
}

input{
  margin: 10px;
  background-color: #28282B;
}

input[type="submit"]{
  margin: 10px;
  background-color: #00FF00;
  border: none !important;
  color: #28282B;
}

input::placeholder{
  color:white;

  }

  input{
    color: #00FF00;
    font-family: "Times New Roman";
  }

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

input[type="text"]{
  font-family: "Times New Roman"
}

.heading{
  margin-left: 10px;
}

input:hover{
  background-color: black;
  color: #00FF00;
}

input:hover:after{
  color: #28282B;
}

input[type="submit"]:focus{
  background-color: #fff;
  color: #28282B;
}

*{
  font-family: "Times New Roman"
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lime;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 50px;
}

.signIn{
  text-align: center;
  box-shadow: 0px 5px 10px 0px #aaa;  
  background: linear-gradient(to bottom, #BEBEBE 0%, #A8A8A8 20%, #BEBEBE 40%, #909090 60%, #707070 80%, #404040 100%) no-repeat;
  opacity: 0.85;
}

.neon{
  color: #00FF00 !important
}

.output{
  color: #fff !important
}

.home{
 color: snow !important;
 font-size: 60px;
 text-align: center;
}

.home1{
  color: #82fc82 !important;
  font-size: 30px;
  margin-left: 100px;
}

